.root {
-fx-font-family:"HelveticaNeue";
-fx-text-fill: black;
-fx-text-border: #555555;
-fx-font-size: 18px;   
}

#headerContent{
    -fx-background-color: #555555;
}

#bodyContent{
    -fx-border-color: darkgray;
    -fx-background-insets: 1,1,1,1;
}

.messageLabel{
    -fx-text-fill: black;
}

.titlelabel {
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

.actionButton{
    -fx-background-color: #f39c12;
    -fx-text-fill: white;
    -fx-background-radius: 0, 0, 0, 0;
}

.actionButton:pressed{
    -fx-background-color:
        -fx-shadow-highlight-color,
        linear-gradient(to bottom, derive(#f39c12,-90%) 0%, derive(#f39c12,-60%) 100%),
        linear-gradient(to bottom, derive(#f39c12,-60%) 0%, derive(#f39c12,-35%) 50%, derive(#f39c12,-30%) 98%, derive(#f39c12,-50%) 100%),
        linear-gradient(to right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.3) 100%);
    -fx-background-insets: 0 0 -1 0, 0, 1, 1;
    -fx-text-fill: -fx-light-text-color;
}

.trasnparentButton{
    -fx-background-color: transparent;
    -fx-text-fill: #f39c12;
}

.userTextField{
    -fx-background-image:url("../img/ico/user_black.png");
    -fx-background-size: 25px, 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
}

.passwdTextField{
    -fx-background-image:url("../img/ico/block_black.png");
    -fx-background-size: 25px, 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
}

.text-field:focused{
    -fx-background-color:
        #f39c12,
        #FFFFFF;
}
